@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
		body{
			font-family:poppins;
		}
		body{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    background-color: #111111;
}body{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    background-color: #111111;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*--main------------------------*/
#main{
    width:100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
#main::before{
    content: '';
    position: absolute;
    width:130%;
    height: 100vh;
    left: 20%;
    top: -23%;
    transform: rotate(-10deg);
    background: linear-gradient(45deg, rgb(19,19,19) -10%, #141516);
    z-index: -1;
}
.main-text{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%,-50%);
    width:500px;
}
.main-text h1{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 2px 2px 30px rgba(0,0,0,0.01);
    margin: 0px;
    line-height: 45px;
}
.main-text p{
    color: #8a94a7c0;
    font-size: 1rem;
    margin: 0px;
    margin-top: 10px;
}
.model{
    width:500px;
    height: 500px;
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translate(-7%,-50%);
}
.model img{
    width:100%;
    height: 100%;
    object-fit: contain;
}
.skill-heading{
    font-size: 2.0rem;
    font-weight: 600;
    color:#ffffff;
}
.project-heading{
    font-size: 2.0rem;
    font-weight: 600;
}
.s-box-icon{
    margin-right: 12px;
}
.s-box-icon i{
    width:80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f011;
    font-size: 1.1rem;
}
.fa-html5{
    color: #e06061;
}
.fa-css3-alt{
    color: #5d85f3;
}
.fa-python{
    color: #f9ca31;
}
.fa-java{
    color: #99b2e7;
}
.icon{
    left:1%;
    height: 50px;
    width: 80px;
}
.s-box-text h3{
    color:#ffffff;
}
#projects{
    position: absolute;
    top: 100%;
    right: 2%;
}
.project-heading{
    color:#ffffff;
}
.link-text{
    color:#ffffff;
}
.description{
    color: #8a94a7c0;
}
.description:hover{
    color: #0c2249c0;
}
.tech-description{
    color: #8a94a7c0;
}
@media(max-width:1200px){
     .model{
        width:400px;
        height :400px;
        right: 5%;
        transform: translate(-5%,-50%);
    }
    .main-text{
        left: 10%;
        transform: translate(-10%,-50%);
    }
}
.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social a{
    width:75px;
    height: 75px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    background-color: #292b3252;
    margin: 5px;
    font-size: 0.9rem;
    font-weight: 400;
}
.footer-social a:hover{
    background-color: #2993f7;
    transition: all ease 0.5s;
}
.copyright{
    text-align: center;
    color:white;
}